<header>
  <p>quem <span class="texto-rosa">confia</span> <br> em nosso trabalho</p>
</header>
<main id="box">
  <div id="secundarios">
      <img src="src/img/bradesco-seguros.png" alt="Uniasselvi logo">
      <img src="src/img/unicesumar.png" alt="Unicesumar logo">
  </div>
  <div id="principais">
      <img src="src/img/bradesco-seguros.png" alt="Bradesco Seguros logo">
      <img src="src/img/porto-seguro.png" alt="Xerox logo">
      <img src="src/img/logo-xerox.png" alt="Porto Seguro logo">
  </div>

</main>

