nav ul {
  display: flex;
  width: max-content;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
  font-size: .9rem;
}

.login {
  background-color: var(--pink-Di2win);
  padding: .5rem .8rem;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 5px 10px #c2c2c2;
}

img {
  margin-left: 5px;
  transform: rotateZ(90deg);
}

@media (min-width: 672px) and (max-width: 1023px) {
  nav ul {
    font-size: .8rem;
    gap: .8rem;
  }
}
