p{
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin: 16px auto;
}

#teste {
  text-align: start;
  display: inline-block;
  margin: 0 auto;
}

/* #valor-documentos{
  text-align: ;
} */

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.areaSeta {
  display: inline-flex;
  width: 60%;
  justify-content: center;
  margin-bottom: 1rem;
}

.areaSeta img {
  width: 1rem;
}

.areaSeta p {
  margin: 0;
  width: 90%;
  text-align: start;
}

.setasinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto-rosa{
  color: #FF1D92;
}

.caixa{
  display: inline-block;
  border: solid #FF1D92;
  border-radius: 10px;
  border-width: 0px 0px 3px 3px;
  width: 35%;
  margin-bottom: 2rem;
  /* padding: .5rem .25rem; */
}

.caixa p{
  text-align: start;
  width: 75%;
  margin: 1rem auto;
}

.valor{
  font-size: 200%;
  font-weight: bold;
}

.line {
  margin: 0 0 1rem 0;
  width: 75%;
}

.seta{
  text-align: center;
  margin-right: 10px;
}
