<div class="container">
  <div align="left">
    <div class = "caixa">
        <p>por que <span class="texto-rosa">confiar</span> em nosso sistema?</p>
    </div>

  </div>

  <section class="info">
    <p>nossos <span class="texto-rosa">números</span> </p>

    <p id="teste"><span id="valor-documentos" class="valor texto-rosa">+100.000</span><br>documentos extraídos</p>
    <p><span class="valor texto-rosa">+16</span> anos no mercado<p>
    <div class="line"></div>
    <p>tratamos seus dados com <span class="texto-rosa">segurança</span></p>
  </section>

  <div class="setasinfo">
    <div class="areaSeta">
      <img class ="seta" src="../../../assets/arrow.svg" alt="seta rosa">
      <p>ao serem extraídos, logo os descartamos</p>
    </div>

    <div class="areaSeta">
      <img class ="seta" src="../../../assets/arrow.svg" alt="seta rosa">
      <p>seus dados não serão <br> fornecidos a terceiros</p>
    </div>
  </div>

</div>
