header {
  background-color: #fff;
  padding: 1.8rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0px 15px #c2c2c2;
  z-index: 10;
}

button {
  background-color: none;
}

div.dropdown {
  width: 70%;
  height: 300px;
  float: right;
  clear: both;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

div.esquerda {
  background-color: #ffffff;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.hidden {
  display: none;
}

div.direita {
  background-color: #D9D9D9;
  width: 60%;
  height: 100%;
}

div.dropdown div.esquerda div {
  width: 95%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #FF1D92;
}

.title-nav {
  width: 93%;
}

@keyframes open-nav {
  from {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }

  to {
    transform: scale(1);
    transform-origin: 100% 0%;
  }
}

@keyframes close-nav {
  from {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }

  to {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
}

.close {
  display: none;
}

.invisible {
  animation: close-nav .2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  display: flex;
}

.visible {
  display: flex;
  animation: open-nav .2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


