<header>
  <a routerLink="">
    <img src="../assets/logo-di2win.svg" alt="Extrai Dados">
  </a>
  <img src="../assets/dots.svg" alt="menu" (click)="dropDownMenu()">
</header>
<div class="dropdown close" (mouseleave)="closeDropDown()">
  <div class="esquerda">
    <app-btn-nav title="soluções" class="title-nav" (changeOptions)="teste($event)"></app-btn-nav>
    <app-btn-nav title="produtos" class="title-nav"></app-btn-nav>
    <app-btn-nav title="duvidas frequentes" class="title-nav"></app-btn-nav>
    <app-btn-nav title="entrar" class="title-nav"></app-btn-nav>
  </div>
  <div class="direita">
    <div class="hidden">
      <app-option-nav
        title="teste"
        name="option1"
        class="testando"
      ></app-option-nav>
      <app-option-nav name="option2" class="testando"></app-option-nav>
      <app-option-nav name="option3" class="testando"></app-option-nav>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
