header {
  background-color: #fff;
  padding: 1.8rem;
  box-shadow: 0 0px 15px #c2c2c2;
  z-index: 10;
  display: flex;
  align-items: center;
}

header img.dots {
  transform: translateY(25%);
  position: absolute;
  right: 1.8rem;
}

@media (min-width: 1024px) {

  .tablet {
    display: none;
  }

  .smartphone {
    display: none;
  }

  .dots {
    display: none;
  }

  header {
    padding: 1.8rem 5rem 1.5rem 5rem;
    display: flex;
    justify-content: space-between;
  }

}

ul {
  border: 1px solid red;
}

@media (min-width: 672px) and (max-width: 1023px) {

  .smartphone {
    display: none;
  }

  header {
    padding: 1.8rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

@media (max-width: 671px) {

  header {
    position: relative;
  }

  .tablet {
    display: none;
  }

  .desktop {
    display: none;
  }

}
