header {
  background-color: #fff;
  padding: 1.8rem;
  box-shadow: 0 0px 15px #c2c2c2;
  z-index: 10;
}

header img.smartphone {
  transform: translateY(25%);
  position: absolute;
  right: 1.8rem;
}

@media (min-width: 672px) {
  .smartphone {
    display: none;
  }

  header {
    padding: 1.8rem 5rem;
    display: flex;
    justify-content: space-between;
  }

}

@media (max-width: 671px) {

  header {
    position: relative;
  }

  .desktop {
    display: none;
  }
}
