main {
  gap: 5rem
}

main div.msg {
  width: 90%;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

main div.msg div.msgContent h2 {
  font-size: 1.5rem;
  color: var(--pink-Di2win);
  margin-bottom: 1rem;
}

main div.msg img {
  width: 100%;
}
