:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #0d0030;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #FFFF;
    --pink-Di2win: #FF1D92;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}
